@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/border-radius" as *;

.navbar {
  :global {
    width: 100%;
    height: 5rem;
    background: $blue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 768px;
    }

    h3 {
      color: white;
    }

    ul {
      display: flex;
      padding: 0 0 0 1rem;

      li {
        a {
          color: white;
        }
      }

      li.home-link,
      li.login-link {
        margin-right: 1.5rem;
      }
    }
  }
}
